doctype 5
html
  head
    title= siteTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet", media="screen")
    block head
    link(href="/css/style.css", rel="stylesheet")
  body
    div(class="container")
        if (flash.length > 0)
            for alert in flash
                for message in alert.message
                    div(class="alert alert-#{alert.type} unstyled", style="text-align: center; margin-top: 10px")= message

        div(class="header")
            ul(class="nav nav-pills pull-right")
                li
                    a(href="/") Home
                if isAuthenticated
                    li
                        a(href="/create") Create an Album
                    li
                        a(href="/user") Account Settings
                    li
                        a(href="/logout") Logout
                else
                    li
                        a(href="/login") Login
            h3(class="text-muted")= siteTitle

        div(style="max-width: 1075px; margin-left: 45px")
            block content

        div(class="footer")
            p
                | &copy;&nbsp;
                span= company

    script(src="/components/jquery/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/components/unveil/jquery.unveil.js")
    script(src="/components/zerobox/zerobox.js")
    script(src="/socket.io/socket.io.js")
    block script
    script(src="/js/script.js")

