extends layout

block content
    form(method="post",class="form-small")
        h2 Please sign in
        div(class="form-group")
            input(type="text", name="username", placeholder="Username", class="form-control", autofocus)
        div(class="form-group")
            input(type="password", name="password", placeholder="Password", class="form-control")
        button(type="submit", class="btn btn-large btn-primary btn-block") Sign in

