extends layout

include ../public/components/amazon-s3-multi-uploader/uploader-mixins

block head
    +uploader-block-head()

block content
    h1= title
    +uploader-block-content()

block script
    +uploader-block-script()

    script.
        /* Services */
        angular.module('uploaderApp.services', []).
            factory('notify', ['$window', function($window) {
                return function($scope, file) {
                    $.getJSON('/upload/callback/?gallery=' + file.folder + '&file=' + file.name, function (result) {
                        // Thumbnail request successful!
                        $scope.$apply(function() {
                            file.url = result.url;
                        });
                        waitForThumbnail($scope, file, result.thumbUrl);
                    });
                }
            }
        ]);

        // Wait until the thumbnail is available before adding the image to the page
        function waitForThumbnail ($scope, file, thumbUrl) {
            $.ajax({
                url: thumbUrl,
                type: 'HEAD',
                error: function() {
                    // 403/404'd, so we haven't found the thumbnail yet, keep waiting
                    setTimeout(waitForThumbnail, 1000, $scope, file, thumbUrl);
                },
                success: function() {
                    // Found the thumbnail, update the page!
                    $scope.$apply(function() {
                        file.imgUrl = thumbUrl;
                    });
                }
            });
        };

