extends layout

include ../public/components/amazon-s3-multi-uploader/uploader-mixins

block head
    +uploader-block-head()

block content
    h1= title
    +uploader-block-content()

block script
    +uploader-block-script()
    script(src="/js/uploader.js")
