body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

.btn-group-album-options {
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
}

    .btn-group-album-options .dropdown-menu {
        font-size: 14px;
    }

.btn-small {
    padding: 0 4px;
}

.btn-top-left {
    position: absolute;
}

.img-thumbnail {
    cursor: pointer;
}

.btn-download {
    margin: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-small {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    margin-top: 20px;
    padding-top: 20px;
}
